langchain
langchain-community
langchain-openai
langchain-experimental
streamlit
pandas
matplotlib
seaborn
numpy
pygwalker
jupyterlab
tiktoken
tabulate
python-dotenv
langchain-google-genai
plotly
scikit-learn
streamlit-option-menu
